a:link, a:visited {
			color: aqua;
			text-decoration: none;
			background: white;
			border: 2px dashed black;
			border-radius: 2px;
			background-clip: content-box; 
			padding: 80px;
			width: 50px;
			}
		a:active {
			color: white;
			text-decoration: none;
			background: red;
			border: 1px dashed white;
			border-radius: 5px;
			background-clip: content-box; 
			padding: 80px;
			}
		a:hover {
			color: aqua;
			text-decoration: none;
			background: white;
			border: 2px dashed black;
			border-radius: 2px;
			background-clip: content-box; 
			padding: 80px;
			width: 50px;
			}
