a:link, a:visited {
			color: black;
			text-decoration: none;
			background: yellow;
			border: 1px double black;
			border-radius: 5px;
			background-clip: content-box; 
			padding: 10px;
			}
		a:active {
			color: white;
			text-decoration: none;
			background: red;
			border: 1px dashed white;
			border-radius: 5px;
			background-clip: content-box; 
			padding: 10px;
			}
		a:hover {
			color: aqua;
			text-decoration: none;
			background: green;
			border: 1px  black;
			border-radius: 5px;
			background-clip: content-box;
			padding: 10px;
			}
