a:link, a:visited {
			color: green;
			text-decoration: none; 
			padding: 10px;
			text-shadow: 1px 1px 5px;
			
			}
		a:active {
			color: red;
			text-decoration: line-through;
			padding: 10px;
			text-shadow: 1px 1px 5px;
			}
		a:hover {
			color: red;
			text-decoration: underline;
			padding: 10px;
			text-shadow: 1px 1px 5px;
			}
