a:link, a:visited {
			color: aqua;
			text-decoration: none;
			background: blue; 
			padding: 15px;
			}
		a:active {
			color: red;
			text-decoration: none;
			background: white;
			background-clip: content-box; 
			padding: 15px;
			}
		a:hover {
			color: white;
			text-decoration: none;
			background: red; 
			padding: 15px;
			}
